<#import "parts/common.ftl" as c>

<@c.page>
    <div class="form-row">
    <form method="get" action="/main" class="form-inline">
    <input type="text" name="filter" class="form-control" value="${filter?if_exists}" placeholder="Search by tag">
    <button type="submit" class="btn btn-primary ml-2">Search</button>
    </form>
    </div>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Add new message
    </a>
    <div class="collapse <#if message??>show</#if>" id="collapseExample">
    <div class="form-group mt-3">
    <form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" class="form-control ${(textError??)?string('is-invalid','')}"
            value="<#if message??>${message.text}</#if>" name="text" placeholder="Введите сообщение" />
    </div>
    <#if textError??>
        <div class="invalid-feedback">
            ${textError}
        </div>
    </#if>
    <div class="form-group">
        <input type="text" class="form-control ${(tagError??)?string('is-invalid','')}"
            value="<#if message??>${message.tag}</#if>" name="tag" placeholder="Тэг">
    </div>
    <#if tagError??>
        <div class="invalid-feedback">
        ${tagError}
        </div>
    </#if>
    <div class="form-group">
        <div class="custom-file">
            <input type="file" name="file" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
    </div>
    <input type="hidden" name="_csrf" value="${_csrf.token}" />
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Добавить</button></div>
    </form>
    </div>
    </div>
<div class="card-columns">
    <#list messages as message>
        <div class="card my-3">
        <#if message.filename??>
            <img src="/img/${message.filename}" class="img-fluid img-thumbnail" alt="Image">
        </#if>
        <div class="m-2">
        <span>${message.text}</span>
        <i>${message.tag}</i>
        </div>
        <div class="card-footer text-muted">
        ${message.authorName}
        </div>
        </div>
    <#else>
        No message
    </#list>
</div>
</@c.page>